PORT=4007
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/activity_saas?schema=public"
JWT_SECRET="replace-with-a-random-secret-at-least-32-characters-long"
CORS_ORIGINS="http://localhost:3007"
